.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    margin-left: 100px;
    margin-right: 100px;
}
.tekst {
      margin-top: 100px;
      margin-right: 500px;
}
.foto {
    margin-top: 100px;
    gap: 100px;
}
.flex {
    position: relative;
    display: flex;
    align-items: center;
  }

  .arrow-icons {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease; 
  }

  .flex:hover .arrow-icons {
    opacity: 1; 
  }

  .arrow-icons:first-child {
    left: 0;
  }

  .arrow-icons:last-child {
    right: 0;
  }